body{
    font-family: 'Gochi Hand', cursive;
    font-size: 14px;
}
header{
    background-color: orange;
    text-align: right;
}
header figure{
    float: left;
    margin-left: 100px;
}
header figure img{
    width:80px;
    height:30px;
}
header h1{
    color: #f7f7f7;
    float: left;
    font-size: 1.6rem;
    display: block;
    margin: 7px 80px 0px 50px;
    padding:0px;
}
header nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style-type: none;
}
header nav ul li{
    width: 100%;
    height: 35px;
    margin-top:10px;
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #f7f7f7;
    padding: 15px 25px;
}
section article.receta{
    width: 85%;
    font-size: 1.2em;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-radius: 0px 0px 15px 15px;
    margin: 50px 0px 20px 10%;
}

section article.receta span.tipo{
    border: 2px solid black;
    position: absolute;
    top: -38px;
    right: -2px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    border-radius:15px 15px 0px 0px;
    font-weight: bolder;
    color:#f7f7f7;
}
section article.receta figure{
    float:left;
    margin: -40px 0px 0px -30px;
}
section article.receta figure img{
    width: 110px;
    height: 90px;
    border: 5px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
section article.receta h2{
    padding: 0px;
    text-align: right;
    margin: 15px 20px 0px 50px;
    font-size: 1.1em;
}
section article.receta p{
    text-align: justify;
    margin: 15px 10px 5px 30px;
    font-size: 0.8em;
}
section article.receta div{
    width:90%;
    margin:30px 4% 10px 5%;
    border:2px solid black;
    position:relative;
    padding-top:20px;
    font-size: 0.9em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
section article.receta div span {
    position: absolute;
    top: -15px;
    left: 10px;
    line-height: 20px;
    border-radius: 15px;
    text-decoration: underline;
    background-color: white;
    padding: 3px 10px;
}
section article.receta div ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
section article.receta div ul li{
    font-weight:bolder;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 3%;
    width:26%;
}


/**********************PAletas de colores************************/
/****************************************************************/
/****************************************************************/

section article.desayuno,
section article.desayuno figure img,
section article.desayuno div,
section article.desayuno span.tipo{
    border-color: #082E08;
}
section article.desayuno h2{
    color:#154419;
}
section article.desayuno span.tipo,
section article.desayuno div,
section article.desayuno div span{
    background-color: #154419;
}
section article.desayuno p,
section article.desayuno ul li{
    color:#3E7242;
}
section article.desayuno{
    background-color:#C0EE90;
}
section article.desayuno div span,
section article.desayuno div ul li{
    color:#9CD95C;
}

section article.pescado,
section article.pescado figure img,
section article.pescado div,
section article.pescado span.tipo{
    border-color: #0A0A2A;
}
section article.pescado h2{
    color:#0B0B61;
}
section article.pescado span.tipo,
section article.pescado div,
section article.pescado div span{
    background-color: #0B0B61;
}
section article.pescado p,
section article.pescado ul li{
    color:#0080FF;
}
section article.pescado{
    background-color:#81F7F3;
}
section article.pescado div span,
section article.pescado div ul li{
    color:#A9BCF5;
}


section article.postre,
section article.postre figure img,
section article.postre div,
section article.postre span.tipostreo{
    border-color: #0A0A2A;
}
section article.postre h2{
    color:#4b290b;
}
section article.postre span.tipo,
section article.postre div,
section article.postre div span{
    background-color: #704214;
}
section article.postre p,
section article.postre ul li{
    color:#4b290b;
}
section article.postre{
    background-color:#b5651d;
}
section article.postre div span,
section article.postre div ul li{
    color:#d57b37;
}

@media screen and (min-width: 480px) {
    header nav ul li{
        width: 22%;
    }
}
@media screen and (min-width: 767px){
    header nav ul li{
        width: 8%;
    }
    section article.receta{
        width: 40%;
        margin: 50px 3% 20px 6%;
    }

}
@media screen and (min-width: 950px) {
    section article.receta{
        width: 26%;
        margin: 50px 1% 20px 5%;
    }
}